Thank you

@Infinisil I just wanted to say thank you `\(^_^)/`

Also I do not know what just happened today.
HIE was not working in HNix (`ghc865`) for a couple of weeks.
And just started working fine for me.

No problem :D 

I saw you raised some concerns about things not working previously, and that's totally justified, I also want my things to work. Open source can be rather unreliable (well at least for projects that get no funding), but I'm confident that as long as we're moving forward, things will get better over time :)

@Infinisil 

I just basically very needed stuff to work. And my tooling was broken.

And during the reading that post - I got inspired. I love to bring deep meaning into entertaining with standup comedy.

I posted it there because I got inspired there.

It is all jokes there, I tried to remove all fat. I already calm about all tech happens, I refactor with use of the humor my approach to things.

My agenda was to bring the attention of the author that I node towards IDE to be a lot like Emacs, because I think that Emacs shows that it is a proper strategy for a self-reprogramming editor. You would never satisfy Haskellers with the plugin system, when they want/can customize everything because it is all Haskell.

I love our community very much, only smart and pretty collaborative and responsive people are in it. I know that it is always a progress towards proper betterness.

@Infinisil 

I would save it for my archive of comical posts, and then would remove it. I love weird stuff and hope other people also find weird funny humor that addresses the issues entertaining.

I indeed lost couple of jobs as a DevOps because of the constant pipeline breakages happening, you know that is a nature of the FP paradigm bleeding-edge - FP has more contrast to states: it is more of the "completely does not work" OR "works great". Due to - if in the theory pipeline got an error - the theory does not calcualte/commute - code does not work. If there is exponential endless lazy recursion - too bad dudde. OR theory commutes & implemented pretty optimally - everything is stable and works great.

Once I was hired - project already was more then a half of the year in active dev team development on `stack` and so - `stackage`.

My work was to deploy `Hydra CI` and so shift everything onto `pure, Nix` pipeline. ... I know you already feel what comes next ...

The state then was: no docs how to deploy `Hydra`. And no docs how it works. No docs for Hydra internals. No `cabal new-*` or the devs knowledge that it would arrive and would be mandatory in the future. Every dev saying that their `stack build --with-nix` works fine (while `stack` not does the proper Nix expressions/processes), `Nix` back then on their systems worked only in `unpure`, and they have a lot of Haskell stuff already deployed on their machines, so it bleeds in, and inside `Hydra CI` has clean env of course. `stack2nix` not worked/works most of the time, felt like it was an aftherthought project. My subordinates put & made `stack` work inside `Hydra` when I not controlled them for 3 days when I was on important business trip.

So my guys reported to everyone: "Hey, eveyone. While Anton is out - We achieved success on our own! We made CI to work, it works with stack, but it works".

So all project already was on `stack`, and my guys basically fixated it on `stack` by breaking a jail and putting `stack` store every time and building with `stack` inside `Hydra CI`. And that "worked", so why break "working CI"?

Now I can not stop or break the dev development pipeline. Soon should be an internal preview.

So now we needed to keep `stack` inside `Hydra` work while trying to make devs care for Nix, when Nix stack does not work. And the Nix stack does not work - because devs does not care for new libs that are not on their stackage LTS - everything works for them, why break it - and  so now they develop on `stack` already for ~ a year. And `stack2nix` still does not work for our project.

The combination of `stack` inside `Hydra` started to corrupt `Hydra CI` `PostgreSQL` DBs without useful error logs from any of them. Hydra becomes unusable and unrecoverable after that, it writes somewhere some state, so I can not put the old state of the DB in place of the corrupted one. Redeploying Hydra requires manual actions in its UI. Hydra is not very talkative in the logs. You know that Dolstra does not follow: [main IT messaging standard that everyone complies to: Syslog RFC 5424 Section 6.2.1](https://wiki.archlinux.org/index.php/Systemd/Journal#Priority_level), he invented his own signaling system of 6 levels that is used in Nix. So through monitoring and empty I can not track properly why `PostgreSQL` DB corruptions happen. It was corrupting DB somewhere 7-14 days after deployment to a virtual environment. First couple of times I thought it was a cloud hardware issues, because `PostgreSQL` does not simply corrupts. But it kept happening, and time is running out. Half of the `Hydra` is in `C++`, half is in `perl`. And non other then the `perl` code seems to be responsible for connections and interaction with DB - and you Anton have fun figuring out how it corrupts the DB. You are a DevOps - so you should know all DevOps tools and also program in all languages, you should feel comfortable programming PHP and Perl to be able to find bugs and modify and glue all software ... Probably very familiar to you.

... And working `stack2nix` can still save us. But it still has bugs for our project, it does not work at all for our project, it does not work at all... I am doomed... I knew that I was probably doomed from the start - so I was happy to experience all what I can get from it, climbing out of it, not caring so telling what I think, telling the truth to everyone, since I knew I am doomed... And it worked great. I did not had any regrets, since I was morally loyal and true all the time.

So to not to go to `stack2nix` and tell that I knew the state and the end of it long ago - I joked about it here in a creative way. So please pardon me.

... I knew that for DevOps the paradigm shift of working Dev development processes - is difficult, I did not expect it to be difficult to that degree, there is also all other things on top.